In [2]:
import pandas as pd

df = pd.read_csv('categories.csv')

df.head()

   CategoryId                  names
0           0       Town Car Service
1           1            Restaurants
2           2       Wedding Planning
3           3  Professional Services
4           4            Comic Books

In [3]:
print(len(df))

893